<%= form_with model: @message, local: true do |f|%>
<div class="message-form">
  <div class="message-sentence">メッセージ</div>
  <%= f.text_area :content, class:"message-content", placeholder:"お互い気持ちよくやり取りができるよう心がけましょう。" %>
  <div class='new-message-btn'>
   <%= f.submit "メッセージを送る", class:"submit-btn" %>
  </div>
</div>
<% end %>