<div class="rooms">
  <div class="room-left">
    <div class="room">
    <% @rooms.each do |room| %>
      <div class="room-name">
      <%= room.name %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="room-right">
    <div class="room-content">
    </div>
  </div>

  <div class="room-form">
    <div class="message-box">
    </div>
    <div class="submit-btn">
    </div>
  </div>
</div>