<div class="room-all">

  <div class="side-bar">
    <div class="rooms">
    <% @rooms.each do |room| %>
      <div class="room">
        <div class="room-left">
          <div class="room-icon">
          </div>
        </div>
        <div class="room-right">
          <div class="room-member">
          </div>
          <div class="room-message">
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="main-chat">
    <%# <div class="chat-content">
    </div>
    <div class="form-content">
    </div> %>
  </div>

</div>


